---
import { db } from '../../firebase-config';
import { ref, get } from 'firebase/database';
// import CourseDetail from '../../components/CourseDetail';
const { id } = Astro.params;

const courseRef = ref(db, `courses/${id}`);
const snapshot = await get(courseRef);
const course = snapshot.val();

if (!course) {
  return Response.redirect('/404');
}
---

<html lang="es">
  <head>
    <title>{course.title}</title>
  </head>
  <body>
	  <div>TODO</div>
  </body>
</html>
